@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo: #0E1014;
    --cor-fonte: #FFFFFF;
    --fonte-poppins: "Poppins", sans-serif;
    --fonte-unbounded: "Unbounded", sans serif;
    --fonte-peso: bold;
    --cor-destaque: #9747FF;
    --cor-hover: #8233E8;
    --tamanho-fonte-titulo: 64px;
    --tamanho-fonte: 24px;
}  

body {
    background-color: var(--fundo);
    color: var(--cor-fonte);
    font-family: var(--fonte-poppins);
}


.cabecalho {
    display: flex;
    justify-content: space-around;
    margin: 60px 0;

}

.cabecalho__logo {
    width: 209.29px;
    height: 34px;
}

.cabecalho__switch {
    width: 40px;
    height: 40px;
}

.principal__conteudo {
    text-align: center;
}

.principal__conteudo__titulo {
    text-align: center;
    margin: 0 auto 24px auto;
    width: 792px;
    height: 158px;
    font-family: var(--fonte-unbounded);
    font-size: var(--tamanho-fonte-titulo);
}

.principal__conteudo__titulo__destaque {

    color: var(--cor-destaque);
    font-weight: var(--fonte-peso);
}

.principal__conteudo__paragrafo {
    margin: 0 auto;
    font-size: var(--tamanho-fonte);
    text-align: center;
    width: 792px;
    height: 72px;
}

.principal__conteudo__botao {
    display: block;
    line-height: 66px;
    text-decoration: none;
    color: var(--cor-fonte);
    font-size: var(--tamanho-fonte);
    background-color: var(--cor-destaque);
    border-radius: 36px;
    margin: 40px auto;
    width: 340px;
    height: 66px;
}

.principal__conteudo__botao:hover {
    background-color: var(--cor-hover);
}

.principal__conteudo__imagem {
    width: 792px;
    height: 446px;
}

@media(max-width: 768px) {

    .cabecalho {
        display: flex;
        justify-content: space-between;
        margin: 60px 70px;
    }

    .principal__conteudo__titulo {
        width: 648px;
    }

    .principal__conteudo__paragrafo {
        width: 648px;
        height: 108px;
    }

    .principal__conteudo__imagem {
        width: 659.5px;
        height: 446px;
    }

    .principal__conteudo__botao{
        font-size: 24px;
    }

}

@media(max-width: 375px) {

    .cabecalho {
        display: flex;
        justify-content: space-between;
        margin: 60px 20px;
    }

    .principal__conteudo__titulo {
        font-size: 40px;
        width: 341px;
        height: 150px;
    }

    .principal__conteudo__botao {
        width: 241px;
        font-size: 20px;
    }

    .principal__conteudo__paragrafo {
        width: 341px;
        font-size: 20px;
        height: 120px;
    }

    .principal__conteudo__imagem {
        width: 332.48px;
        height: 230.61px;
    }

}